@import "_00-config";

@import "../vendor/knacss/sass/_01-base";
@import "../vendor/knacss/sass/_02-helpers"; // width and spacers visually classes
@import "../vendor/knacss/sass/_03-grids"; // grids and autogrids
@import "../vendor/knacss/sass/_04-tables";
@import "../vendor/knacss/sass/_06-icons"; // UTF-8 icons
@import "../vendor/knacss/sass/_07-flexbox";
@import "../vendor/knacss/sass/_08-rwd"; // Responsive Web Design helpers
@import "../vendor/knacss/sass/_09-print";
@import "../vendor/knacss/sass/_10-booleans"; // skip links and hyphens
@import "../vendor/knacss/sass/_12-ie"; // IE6, IE7, IE8 support
@import "../vendor/knacss/sass/_13-styling"; // minor stylings


@font-face {
	font-family: "merriweather";
	src: url('../../css/fonts/merriweather-regular.eot');
	src: url('../../css/fonts/merriweather-regular.eot?#iefix') format('embedded-opentype'),
		 url('../../css/fonts/merriweather-regular.woff2') format('woff2'),
		 url('../../css/fonts/merriweather-regular.woff') format('woff'),
		 url('../../css/fonts/merriweather-regular.ttf') format('truetype'),
		 url('../../css/fonts/merriweather-regular.svg#merriweatherregular') format('svg');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: "merriweather";
	src: url('../../css/fonts/merriweather-italic.eot');
	src: url('../../css/fonts/merriweather-italic.eot?#iefix') format('embedded-opentype'),
		 url('../../css/fonts/merriweather-italic.woff2') format('woff2'),
		 url('../../css/fonts/merriweather-italic.woff') format('woff'),
		 url('../../css/fonts/merriweather-italic.ttf') format('truetype'),
		 url('../../css/fonts/merriweather-italic.svg#merriweatheritalic') format('svg');
	font-weight: 400;
	font-style: italic;

}

@font-face {
	font-family: "merriweather";
	src: url('../../css/fonts/merriweather-bold.eot');
	src: url('../../css/fonts/merriweather-bold.eot?#iefix') format('embedded-opentype'),
		 url('../../css/fonts/merriweather-bold.woff2') format('woff2'),
		 url('../../css/fonts/merriweather-bold.woff') format('woff'),
		 url('../../css/fonts/merriweather-bold.ttf') format('truetype'),
		 url('../../css/fonts/merriweather-bold.svg#merriweatherbold') format('svg');
	font-weight: 700;
	font-style: normal;

}

@font-face {
	font-family: "merriweather";
	src: url('../../css/fonts/merriweather-bolditalic.eot');
	src: url('../../css/fonts/merriweather-bolditalic.eot?#iefix') format('embedded-opentype'),
		 url('../../css/fonts/merriweather-bolditalic.woff2') format('woff2'),
		 url('../../css/fonts/merriweather-bolditalic.woff') format('woff'),
		 url('../../css/fonts/merriweather-bolditalic.ttf') format('truetype'),
		 url('../../css/fonts/merriweather-bolditalic.svg#merriweatherbold_italic') format('svg');
	font-weight: 700;
	font-style: italic;

}

@font-face {
	font-family: "source_sans_pro";
	src: url('../../css/fonts/sourcesanspro-regular.eot');
	src: url('../../css/fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
		 url('../../css/fonts/sourcesanspro-regular.woff2') format('woff2'),
		 url('../../css/fonts/sourcesanspro-regular.woff') format('woff'),
		 url('../../css/fonts/sourcesanspro-regular.ttf') format('truetype'),
		 url('../../css/fonts/sourcesanspro-regular.svg#source_sans_proregular') format('svg');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: "source_sans_pro";
	src: url('../../css/fonts/sourcesanspro-semibold.eot');
	src: url('../../css/fonts/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
		 url('../../css/fonts/sourcesanspro-semibold.woff2') format('woff2'),
		 url('../../css/fonts/sourcesanspro-semibold.woff') format('woff'),
		 url('../../css/fonts/sourcesanspro-semibold.ttf') format('truetype'),
		 url('../../css/fonts/sourcesanspro-semibold.svg#source_sans_prosemibold') format('svg');
	font-weight: 500;
	font-style: normal;

}

@font-face {
	font-family: "kiwiparty";
	src:url('../../css/fonts/kiwiparty.eot?iejfmu');
	src:url('../../css/fonts/kiwiparty.eot?#iefixiejfmu') format('embedded-opentype'),
		url('../../css/fonts/kiwiparty.woff?iejfmu') format('woff'),
		url('../../css/fonts/kiwiparty.ttf?iejfmu') format('truetype'),
		url('../../css/fonts/kiwiparty.svg?iejfmu#kiwiparty') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
h1:before {
	display: inline-block;
	font-family: "kiwiparty";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pepins:before,
.section-title:before { content: "\e600"; }
.icon-medal:before { content: "\e601"; }
.icon-alert:before { content: "\e602"; }
.icon-check:before { content: "\f03a"; }
.icon-checklist:before { content: "\f076"; }
.icon-mail:before { content: "\f03b"; }
.icon-images:before { content: "\e90e"; }
.icon-camera:before { content: "\e90f"; }
.icon-headphones:before { content: "\e910"; }
.icon-film:before { content: "\e913"; }
.icon-mic:before { content: "\e91e"; }
.icon-ticket:before { content: "\e939"; }
.icon-location:before { content: "\e947"; }
.icon-clock:before { content: "\e94e"; }
.icon-bubbles:before { content: "\e96c"; }
.icon-bubbles2:before { content: "\e96f"; }
.icon-airplane:before { content: "\e9af"; }
.icon-clipboard:before { content: "\e9b8"; }
.icon-google-plus:before { content: "\ea88"; }
.icon-facebook:before { content: "\ea8c"; }
.icon-twitter:before { content: "\ea91"; }
.icon-paperplane:before { content: "\e603"; }
.icon-calendar:before { content: "\e604"; }


// generic styles

::-moz-selection {
	background: $secondary-color;
	color: #fff;	
}
::selection {
	background: $secondary-color;
	color: #fff;	
}

a {
	transition: color .3s, background .3s;
}

.s-title {
	position: relative;
	
	&:after {
		position: absolute;
		content: "";
		bottom: 0; left: 0;
		height: 5px; width: 54px;
		background: $tertiary-color;
	}	
}

.section-title {
	display: inline-block;
	padding: 3em 0 0.7em 0;
	@extend .title;
	@include rem(2.8);
	
	@extend .s-title;
	
	
	&:before {
		position: absolute;
		top: 0.1em; right: -0.55em;
		@include rem(12);
		color: rgba(0,0,0,0.075);
		line-height: 1;
	}
}

.section-sub-title {
	margin-top: 2em;
	@extend .title;
	@include rem(1.9);
}

.inside {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.grid3 {
	width: 100%;
	margin: 0 0 0 -25px;
	& > * {
		padding: 0 25px;
	}
	& > :last-child {
		padding-right: 0;
	}
}

.title {
	font-family: $font-stack-headings;
	font-style: italic;	
}



// header
.main-header {

	margin-top: 50px;
	
	.summary {
		@include rem(1.4);
		color: $darkgray;
		strong {
			color: $primary-color;
		}
	}
	.logo {
		width: 37.33%;
	}
}
.tagline {
	@extend .title;
	@include rem(1.65);
	color: $gray;
	letter-spacing: .02em;
	font-weight: 700;
	margin-top: -1.25em;
	margin-left: 36.5%;
}

.envent-date-place {
	width: 29.33%;
	padding-left: 0;
	text-align: center;
}

.header-cal,
.event-date,
.event-place {
	display: inline-block;
	vertical-align: top;
}

.event-place {
	position: relative;
	width: 100%;
	@extend .title;
	font-weight: 700;
	color: $middleuppergray;

	&:before,
	&:after {
		position: absolute;
		left: 50%; top: 50%;
  		display: block; /* IE fix */
  		content: "";
  		width: 44px;
  		border-bottom: 1px solid CurrentColor;
  		opacity: .5;
	}
	&:before {
		margin-left: -99px;
	}
	&:after {
		margin-left: 58px;
	}
}

.header-cal {
	margin-right: 18px;	
}

.event-date {
	color: $middleuppergray;
	margin-top: 8px;
	line-height: 1;
	@include rem(2.1);
	
	.ed-day {
		margin-top: 2px;
		color: $secondary-color;
		font-weight: 700;
		@include rem(2.75);
	}
	.ed-year {
		@include rem(4);
	}
	
	span {
		display: block;
	}
}


.main-nav {

	margin-top: 1.75em;
	background: $lightgray;
	
	a {
		padding: .85em 1.4em;
		color: $darkgray;
		text-decoration: none;
		font-weight: 500;
		@include rem(1.9);
		
		&:before {
			margin-right: .45em;
			vertical-align: -0.1em; 
			@include rem(2.25);
			color: $gray;
		}

		&:hover,
		&:focus {
			color: $lightgray;
			background: $darkgray;
		}
	}

	.alt-nav {
		float: right;
		background: $secondary-color;
		
		a {
			color: white;
		}
		
		a:before {
			color: white;
		}
	}
}

[class^="home-quote"] {
	@extend .title;
}
.home-quote-title.home-quote-title {
	margin-top: 2em;
	@include rem(2.75);
}
.home-quote {
	color: $gray;
	padding-left: 0;
	@include rem(4.25);	
	&:before {
		display: none;
	}
	strong {
		color: $primary-color;
	}
}

.home-couple-btns {
	margin-top: 4em;	
}

[class^="btn-"] {
	display: inline-block;
	vertical-align: top;
	padding: .8em 2em;
	text-decoration: none;
	color: white;
	background: $gray;
	font-weight: 500;
	@include rem(1.75);
	
	&:before {
		margin-right: 8px;
		vertical-align: -3px; 
		@include rem(2.2);
	}
}
[class^="btn-"] + [class^="btn-"] {
	margin-left: 1em;
}
.btn-primary {
	background: $primary-color;
	&:hover,
	&:focus {
		color: #FFF;
		background: darken($primary-color, 7.5%);
	}
}
.btn-secondary {
	background: $secondary-color;
	&:hover,
	&:focus {
		color: #FFF;
		background: darken($secondary-color, 7.5%);
	}
}

.twitter-cta {

	margin: 3em 0;
	color: $twitter;
	
	a {
		color: inherit;
	}
	&:before {
		margin-right: .4em;
		@include rem(3.8);
		vertical-align: -0.25em; 
	}
}

.flickr-photos {
	position: relative;
	margin: 0;
	padding-top: 200px;
	background: url("../../img/flickr-photos.jpg") scroll 0 0 repeat-x;
	
	p {
		margin-top: 0;
	}

}
.flickr-texts {
	position: absolute;
	bottom:0; right: 0; left: 0;
	padding: 6px 0 5px;
	@include rem(1.4);
	color: #FFF;
	background: rgba(0,0,0,0.75);
	
	a {
		@extend .title;
		color: #FFF;
		text-decoration: none;
		font-weight: 700;
	}
}

.photo-title {
	@extend .title;
	font-weight: 700;
}
.flickr {
	position: relative;
	padding-right: 52px;
	
	&:before,
	&:after {
		content: "";
		position: absolute;
		right: 20px; top: .375em;
		width: 10px; height: 10px;
		background: $flickr-pink;
		border-radius: 50%;
	}
	&:before {
		background: $flickr-blue;
		right: 32px;
	}
}


.main-news {
	background: #F8F8F8;
	
	article {
		
		padding-top: 1.8em;
		
		h1 {
			@include rem(2.4);
			margin: 0 0 0.5em 0;
		}
		a {
			text-decoration: none;
		}

		time {
			display: block;
			margin-bottom: .2em;
			color: $gray;
			@include rem(1.4);
			font-weight: 500;
		}
	}
}
.article-readmore {
	padding-bottom: 2.5em;
	a {
		color: $secondary-color;
		font-weight: 500;
		
		&:hover,
		&:focus {
			color: darken($secondary-color, 10%);
		}
		&:focus {
			border-bottom: 1px solid darken($secondary-color, 10%);
		}
	}
}
.articles-list {
	padding: 0;
	margin: 1.25em 0 4em;
	list-style: none;
	
	li {
		display: block;
		margin: .1em 0;
		&:before {
			content: "—";
			margin-right: 0.45em;
		}
	}
	a {
		text-decoration: underline;
		&:hover,
		&:focus {
			color: $secondary-color;
		}
	}
}

/*
 * == Programme
 */
.schedule {

	.line {

		padding-top: 30px;
		padding-bottom: 30px;
		
		+ .line {
			border-top: 1px solid $lightgray;
		}

		&-alt {
			background: #F8F8F8;
			
			& .schedule-title {
				@include rem(4);
				color: $primary-color;
			}
		}
	}
	.schedule-time {
		@extend .title;
		@include rem(2);
		width: 10%;
		font-weight: 700;
		color: $secondary-color;
	}
	.schedule-image {
		width: 20%;	
	}
	.schedule-description {
		width: 70%;
	}

	.schedule-title {
		font-family: $font-stack-headings;
		font-weight: 700;
		@include rem(2.45);
	}

	.schedule-image img {
		display: block;
		border-radius: 50%;
		border: 4px solid #FFF;
		box-shadow: 1px 1px 4px rgba(0,0,0,.125);
	}

	.schedule-author {
		margin-top: 0;
		@extend .title;
		@include rem(1.9);
		color: $gray;
		font-weight: 700;
	}

	.schedule-content {

		position: relative;
		padding-top: 3em;
		
		&:before {
			position: absolute;
			content: "";
			top: 15px; left: 0;
			height: 5px; width: 54px;
			background: $primary-color;
		}
	}
}


/*
 * == Sponsors
 */

 .sponsors-thanks {
 	@extend .title;
 	text-align: center;
 	color: $middlegray;
 	@include rem(2.5);
 	font-weight: 700;
 }

 .sponsors-list {
 	margin: 1.8em 0 5em;
 	text-align: center;
 	li {
 		display: inline-block;
 		margin: 0 3em;
 		vertical-align: middle;
 	}
 }

 /*
  * == Main Footer
  */

.main-footer {

	padding-top: 3em;
	padding-bottom: 5em;
	background: $darkgray;
	color: #FFF;
	
	a {
		font-family: $font-stack-headings;
		font-weight: 700;
		color: inherit;
	}

	[class^="icon-"] {
		@include rem(3.5);
	}
	[class^="icon-"] + [class^="icon-"] {
		margin-left: .45em;
	}

	.icon-twitter:hover,
	.icon-twitter:focus {
		color: $twitter;
	}
	.icon-facebook {
		vertical-align: 2px;
	}
	.icon-facebook:hover,
	.icon-facebook:focus {
		color: $facebook;
	}
}

.footer-contact {
	width: 26.6%;
}
.footer-history {
	width: 40%;
}


.footer-title {
	padding-bottom: .55em;
	margin-bottom: .6em;
	@extend .title;
	@extend .s-title;
	
	@include rem(2.7);
	font-weight: 700;
}

.history-go-1 {
	padding: 0;
	
	li {
		display: inline-block;
		width: 35%;
		list-style: none;
		
		&:before {
			content: "—";
			margin-right: 5px;
			color: inherit;
		}
	}
	a {
		text-decoration: none;
	}
}

.footer-summary {
	padding-top: .65em;
	@extend .title;
	@include rem(1.75);
	font-weight: 700;
}
.footer-exit {
	padding-right: 0;
	.start {
		margin-top: 1.5em;
		a {
			color: $gray;
		}
	}
}